.primary { color: #F5E0DA;}

.primary-background {
  background-color: #F5E0DA;
  height: 100%;
  width: 100%;
}
.App {
  text-align: center;

}


.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

.h1 {
  font-family: 'Crimson Pro', serif;
}

#has-bg-img{
  position: relative;
  overflow: hidden;
}

.is-bg-img {
  position: absolute;
  object-fit: cover;
  object-position: top center;
  width: 100%;
  height: 100%;}

.is-transparent{opacity: 0.6;}

.center-container {
  display: flex;
  align-items: center;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}


.loginPage {
  width: 100vw;
  height: calc(100vh - 80px);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.loginPage .box{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 3rem;
}

.createReview {
  display: flex;
  flex-direction: column;
  padding: 3rem;
  justify-content: center;
  align-items: center;
}